<h2>ユーザー一覧</h2>
<% @users.each do |user| %>
<div>
    <div class="user-left">
        <img src="<%= "/user_images/#{user.image_name}" %>"> 
        <%= link_to(user.name, "/users/#{user.id}") %>          
    </div>
</div>
<% end %>